<!-- Commentaires -->
<div id="liste_commentaires" class="col-12 table-responsive">
    <h2> 
      <span class="fa-stack fa-sm">
          <i class="fa fa-comments-o"></i>
      </span>
      Last comments 
    </h2>
    <ul class="list-unstyled">
      <li class="media">
        <a class="d-flex mr-3" href="#"></a>
        <div class="media-body">
           <h2 class="commentaire">{{ thing.circuit }} {{ thing.nom }} :</h2>
            <p class="texte"> {{ thing.commentaire }}</p>
        </div>
        </li>
        <!-- <li class="media">
        <a class="d-flex mr-3" href="#"></a>
        <div class="media-body">
           <h2 class="commentaire"> [Australian Grand Prix] Marco Manza wrote : </h2>
            <p class="texte"> My favourite pilot hasn't won... What a shame... </p>
        </div>
        </li>
        <li class="media">
        <a class="d-flex mr-3" href="#"></a>
        <div class="media-body">
           <h2 class="commentaire"> [Bahrein Grand Prix] Jean Dupont wrote : </h2>
            <p class="texte"> It was a good moment with my family. However, the rain prevents me to make good photos... </p>
        </div>
        </li> -->
    </ul>
  </div>