<!-- Formulaire -->
<div id="formulaire" class="col-12 table-responsive">
    <h2> 
      <span class="fa-stack fa-sm">
          <i class="fa fa-comment-o"></i>
      </span>
      Add a comment
    </h2>
    <form [formGroup]="thingForm">
      <div class="form-inline form-group">
        <div class="form-group">
          <label for="name" class="mr-3"> Name : </label>
          <input id="name" type="text" class="form-control mr-3" required/>
        </div>
        <div class="form-group">
          <label for="race" class="mr-3"> Race : </label>
          <input id="race" type="text" class="form-control mr-3" required/>  
        </div>
        
      </div>
      <div class="form-group">
        <label for="comment"> Comment : </label>
        <textarea id="comment" class="form-control"> Write your comment here... </textarea>
      </div>
      <button class="btn btn-outline-light" (click)="onSubmit()"> Send </button>
    </form>
    
  </div>

  <!--(ngSubmit)="onSubmit(f)" #f="ngForm"-->
  <!--(click)="onSubmit()"-->